<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @note.date %>
</p>

<p>
  <strong>Title:</strong>
  <%= @note.title %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @note.notes %>
</p>

<h2>Tasks</h2>
<table>
  <thead>
    <tr>
      <th>Indicator</th>
      <th>Description</th>
      <th>Details</th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.indicator %></td>
        <td><%= task.description %></td>
        <td><%= task.details %></td>
      </tr>
    <% end %>
  <tbody>
</table>

<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
